RewriteEngine On
RewriteBase /przedszkole/

RewriteRule ^main$ index.php [L,QSA]
RewriteRule ^((?!console).[a-zA-Z-_0-9]+)$ index.php/?site=$1 [L,QSA]

#RewriteRule ^konsola\/$ console/ [L,QSA]
#RewriteRule ^konsola\/([a-zA-Z-_0-9]+)$ console/index.php/?action=$1 [L,QSA]